#Tells pip to look at the PyTorch CUDA 12.1 server first (exactly what you did manually)
--index-url https://download.pytorch.org/whl/cu121

#Tells pip to look at the standard server for everything else (like pandas, streamlit).
--extra-index-url https://pypi.org/simple

#requirements for the project 
torch
torchvision
torchaudio
numpy
pandas
matplotlib
seaborn
scikit-learn
opencv-python
tqdm
pillow
streamlit
ipywidgets
